body {
    font-family: sans-serif;
    margin-top: 0;
    background-color:lightblue;
    background-image:url("/ui/bckgrnd.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    }

.div1{
    font-style:italic;
    background-color:lightgrey;
    font-size:400%;
        color:red;
    background-image:url("/ui/blue.jpg");
} 

.buton{
    padding: 50px;
    font-size: 30px;
    cursor: "hand";
    font-style:italic;
    border:groove;
}

.div2{
    border: 140px;
    margin-top: 30px;
   }

.heading{
    font-size:30px;
    color:blue;
}

.contain{
    max-width:650px;
    margin: 0 auto;
   }



.center {
    text-align: center;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

  .cont{
                max-width:800px;
                font-family:sans-serif;
                margin: 0 auto;
                color:grey;
                padding-top:20px;
                padding-left:20px;
                padding-right:20px;
                
            }
