body {
    font-family: sans-serif;
    margin-top: 0px;
    background-color:lightblue;
    background-image:url("/ui/img1.png");
}

.div1{
    font-style:italic;
    background-color:lightgrey;
    font-size:400%;
        color:red;
} 

.buton{
    padding: 50px;
    font-size: 30px;
    cursor: "hand";
}

.div2{
    border: 140px;
    padding: 130px;
}



.center {
    text-align: center;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

  .cont{
                max-width:800px;
                font-family:sans-serif;
                margin: 0 auto;
                color:grey;
                padding-top:20px;
                padding-left:20px;
                padding-right:20px;
                
            }
